In [7]:
import pandas as pd
# import data
path="D:\\Spring2023\\INFO 247\\Assignments\\Final Assignment\\Analysis\\Precipitation Data\\CSVfilesDummy\\"
# file="Alameda.csv"
# for file in myfiles:
#     lines = open(file).readlines()
#     open(file, 'w').writelines(lines[3:]) //to delete first four lines
allcountyfilenames=['Alameda.csv', 'Alpine.csv', 'Amador.csv', 'Butte.csv', 'Calaveras.csv', 'Colusa.csv', 'Contra Costa.csv', 'Del Norte.csv', 'El Dorado.csv', 'Fresno.csv', 'Glenn.csv', 'Humboldt.csv', 'Imperial.csv', 'Inyo.csv', 'Kern.csv', 'Kings.csv', 'Lake.csv', 'Lassen.csv', 'Los Angeles.csv', 'Madera.csv', 'Marin.csv', 'Mariposa.csv', 'Mendocino.csv', 'Merced.csv', 'Modoc.csv', 'Mono.csv', 'Monterey.csv', 'Napa.csv', 'Nevada.csv', 'Orange.csv', 'Placer.csv', 'Plumas.csv', 'Riverside.csv', 'Sacramento.csv', 'San Benito.csv', 'San Bernardino.csv', 'San Diego.csv', 'San Francisco.csv', 'San Joaquin.csv', 'San Luis Obispo.csv', 'San Mateo.csv', 'Santa Barbara.csv', 'Santa Clara.csv', 'Santa Cruz.csv', 'Shasta.csv', 'Sierra.csv', 'Siskiyou.csv', 'Solano.csv', 'Sonoma.csv', 'Stanislaus.csv', 'Sutter.csv', 'Tehama.csv', 'Trinity.csv', 'Tulare.csv', 'Tuolumne.csv', 'Ventura.csv', 'Yolo.csv', 'Yuba.csv']
for file in allcountyfilenames:
    lines = open(path+file).readlines()
    open(path+file, 'w').writelines(lines[4:])

In [8]:
def df_to_append(filename):
    #function accepts a csv file, cleans it and processes it as per requirement and then
    #returns a dataframe that will be appended to the main dataframe "df_allcounties"
    path="D:\\Spring2023\\INFO 247\\Assignments\\Final Assignment\\Analysis\\Precipitation Data\\CSVfilesDummy\\"
    df = pd.read_csv(path+filename)
    df['Date']=df['Date'].astype(str) #converting the date field to string
    df['year']=df['Date'].apply(lambda x:x[:-2]) #creating year by removing the last two numbers representing the month from the "date" field
    df['Month']=df['Date'].apply(lambda x:x[-2:])#separating the last two digits representing month
    df=df.drop(['Date'],axis=1)
#     df['season']="Summer"
    df['county']=filename[:-4] #adding the county name by slicing the ".csv" from the filename
    return df

In [9]:
# creating a new dataframe for storing data  of 58 counties, it has the same column names as the required dataframe
df_allcounties = pd.DataFrame(columns =['Value', 'Anomaly', 'year', 'Month', 'county'])

In [10]:
for filename in allcountyfilenames:
    df_allcounties=pd.concat([df_allcounties,df_to_append(filename)], axis=0)

In [11]:
df_allcounties.shape

(89262, 5)

In [12]:
df_allcounties.columns

Index(['Value', 'Anomaly', 'year', 'Month', 'county'], dtype='object')

In [13]:
#checking if all the counties are there in the df_allcounties dataframe
# dfcounty.NAME.unique()
df_allcounties.county.unique()
len(df_allcounties.county.unique())

58

In [14]:
df_allcounties.head()

   Value  Anomaly  year Month   county
0   8.43     4.46  1895    01  Alameda
1   2.09    -1.25  1895    02  Alameda
2   1.97    -0.90  1895    03  Alameda
3   1.75     0.41  1895    04  Alameda
4   1.20     0.62  1895    05  Alameda

In [16]:
df_allcounties['Month']=df_allcounties['Month'].astype(int) #converting the Month field to int

In [17]:
#replacing the codes of Months with full name
#month= ["January","February","March","April","May","June","July","August","September","October","November","December"]
df_allcounties=df_allcounties.replace({"Month":{1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"}})
df_allcounties.Month.unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [18]:
# writing the df_allcounties dataframe to the a .csv file
# Write DataFrame to CSV File with Default params.
df_allcounties.to_csv("countiesMonthlyPreciptDataset.csv")